
.login-button{
  display:flex;
  justify-content: flex-end;
  margin:20px;
}
.Nav-logo{
  display:flex;
  justify-content: center;
  
}
ul{
  display:flex;
 
  list-style: none;

}
.menu_area  {
  display:flex;


  justify-content: center
 
  
 
}
li{
  padding:10px;
}

.menu_search{
  border-bottom:2px solid black;
  position:absolute;
  right:20px;
  padding:5px;
}
.menu_search input{
  border:none;
}

.loginBtn{
  color:black;
  text-decoration: none;
}